*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: rgb(153, 221, 200);
}
.container{
    background:  rgb(161, 130, 118);
    width:400px;
    max-width: 500px;
    height:400px;
    text-align: center;
    align-items: center;
    margin:150px auto 20px;
    padding:40px 30px 70px;
    border-radius: 10px;

}
.title h1{
    
    font-size: 120px;
    margin-top: 20px;
    color:rgb(0, 99, 98);
}
.buttons button{
    margin-top: 50px;
    margin-left: 5px;
    padding:15px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    
    cursor: pointer;
    transition: 0.5s;
    background:rgb(0, 99, 98);
    color:white;
    
    
    
}